[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
p4a-build-spaces = {file = "https://github.com/JonasT/p4a-build-spaces/archive/master.zip"}

[packages]
pillow = "*"
pysdl2 = "*"
foolysh = {git = "https://github.com/tcdude/foolysh.git"}
loguru = "*"
pyksolve = "*"
